@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Repair Shop Studio</h1>
    <h2>Your repair shop personal assistent</h2>
</div>

<div class="mb-5"></div>
<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics-button">Show Statistics</button>
    </div>
</div>
<div class="mt-4 p-5 bg-light d-none" id="statistics">
    <div class="row">
        <h2 class="col-md-4 text-center" id="total-parts"></h2>
        <h2 class="col-md-4 text-center" id="total-services"></h2>
    </div>
</div>
@section Scripts {
    <script>
        $('#statistics-button').on('click', ev => {
            $.get('https://localhost:7244/api/statistics', (data) => {
                $('#total-parts').text(data.totalParts + "parts");
                $('#total-services').text(data.totalServices + " services");
                $('#statistics').removeClass('d-none');
                $('#statistics-button').hide();
            });
        });
    </script>
}
